body {
    padding: 2em;
    margin: 0;
}
.header {
    height: 100px;
    background-color: white;
    color: black;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.articleBox {
    float: left;
    width: 30%;
    margin-right: 2%;
    padding: 20px;
    box-sizing: border-box;
    border-style: groove;
    border-color: lightgrey;

}
.articleBox a {
    text-decoration: none;
    color: black;

}
.articleBox p {
    color: dodgerblue;

}
